.container-1st{
    background: linear-gradient(to right,pink,lightblue);
}
*{
    margin: 0;
}
#heading-text{
    font-size: 30px;
    font-weight: 800;
    padding-left: 15px;
    padding-top: 20px;
    color: black;
}
.nav-bar-text{
    margin-left: 15%;
    font-size: 20px;
    font-weight: 800;
    margin-top: 1.5%;
}
.nav-bar-text2{
    margin-left: 4%;
    font-size: 17px;
    font-weight: 800;
    margin-top: 1.7%;
}
.signin-button{
    width: 160px;
    height: 50px;
    border: 2px solid rgb(255, 182, 232);
    margin-left: 7%;
    margin-top: 1.5%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signin-button:hover{
    background-color:rgb(255, 105, 240);
}
.nav-bar-text2:hover{
    text-decoration: underline;
}
.nav-bar-text:hover{
    text-decoration: underline;
}
.form{
    width: 600px;
    height:60px;
    border:3px solid black;
    border-radius: 29px;
    font-size:13px;
    margin-right: 4px;
    background-color: white;
    display: flex;
    margin: 50px;
    
}
#search{
    margin-left: 50px;
    margin-top: 20px;
    border: 0px;
    width: 500px;
    height: 30px;
    font-size:20px;
    
}
.pics img{height:150px;
    padding: 10px;
    background-color:lavenderblush;
}
.course img{height:150px;
    padding: 10px;
    background-color:lavenderblush;}

.stats  img {margin-top:100px;
width:85%;
height:500px;}

.mentor { margin-top:150px;
   
    font-size: 50px;
    font-family: Century;
    color:brown;


}
#experienced{
    font-size: 20px;
    margin-top: 50px;
}
.space{
    margin-top: 10px;
}
.bg{
    background:linear-gradient(to right, rgb(169, 201, 212),rgb(173, 179, 155));padding-bottom: 100px;
}
   



